@{
  Layout = "_Layout";
}

<form action='/stylists' method='post'>
  <label for='stylistName'>Stylist Name</label>
  <input id='stylistName' name='stylistName' type='text'>

  <button type='submit'>Add Stylist</button>
</form>
