@{
  Layout = "_Layout";

}

<div class="container">
<h1>List of clients: </h1>

@if(Model.Count == 0)
{
  <p>No clients has been added yet</p>
}
else
{
<ol>
@foreach (var client in Model["Stylist"].GetClient())

{
<li><a href='/clients/@client.id'>@client.name</a></li>
}

</ol>
}

<h2><a href="/specialties" >Add Specialty to this Stylist</a></h2>

<p><a href='/stylists/@Model["Stylist"].GetId()/clients/new' class="btn btn-success">Add New Client</a></p>
<a href="/stylists" class="btn btn-warning">Back to Stylist's List</a><br>
<br><a href="/stylists/@Model["Stylist"].GetId()/update" class="btn btn-primary">Update Employee Info</a>
<br>
<br>
<a href = "/" class="btn btn-danger">Home</a>
</div>
