@{
  Layout = "_Layout";

}


<ol>
@foreach (var client in Model["Stylist"].GetClient())

{
<li>@client.name</li>
}

</ol>
<p><a href='/stylists/@Model["Stylist"].GetId()/clients/new'>Add New Client</a></p>
<p><a href="/stylists">Back to Stylist's List</a></p>
<p><a href='/'>back Home</a></p>
