@{
  Layout = "_Layout";

}
<div class="container">




<h1>Please enter Today's Special Deal: </h1>
<form action='/specialties' method='post'>

  <label for='description'>Specialty Description:</label>
  <input id='description' name='description' type='text'>
  
<br>
<br>
  <button type='submit' class="btn btn-danger">Add Specialty</button>
</form>
</div>
