@{
  Layout = "_Layout";
}

<div class="container">

<h1>Welcome, Friend!</h1>
<a href="/stylists" class="btn btn-info">Show list of stylists!</a>
<a href="/specialties" class="btn btn-primary">Show list of specialties!</a>
</div>
