@{
  Layout = "_Layout";
}

<div class="container">

<h1>Welcome!</h1>
<!-- <a href="/clients" class="btn btn-info">You can start your clients search by stores here!</a> -->
<a href="/stylists" class="btn btn-info">Show list of stylists!</a>

</div>
