@{
  Layout = "_Layout";

  <p>I'm supposed to let you enter the clients's info</p>
}






<form action='/clients' method='post'>

  <label for='clientName'>Client name</label>
  <input id='clientsName' name='clientsName' type='text'>
  <input id = 'stylistId' name='stylistId' type = 'hidden' value = @Model.GetId()>

  <button type='submit'>Add Client</button>
</form>
